$bodyFont: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

$dark-gray: #333 !default;
$blue: #357edd !default;

* {
  box-sizing: border-box;
}

body {
  background: white;
  color: $dark-gray;
  font-family: $bodyFont;
  line-height: 1.75;

  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.25;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: $blue; 
  transition: color .15s ease-in;
}


a:hover, 
a:focus, 
a:active {
  color: $dark-gray;
}

.dark-link {
  text-decoration: none;
  color: $dark-gray;
  transition: opacity .15s ease-in;
}

.dark-link:hover,
.dark-link:focus,
.dark-link:active {
  color: $dark-gray;
  opacity: .7;
}

.nav {
  margin-top: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;

  padding-right: 1rem;
  padding-left: 1rem;

  max-width: 600px;
  flex: 1;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  padding-top: 1rem;
  padding-right: 1rem;

  text-align: right;
  height: 2.5rem;
}

.profile {
  width: 150px;
}

.nav-link {
  font-weight: bold;
}

.nav-link+ .nav-link {
  margin-left: 1rem;
}