$dark-gray: #333 !default;
$blue: #357edd !default;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  background: white;
  color: $dark-gray;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.75;

  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-weight: normal;

  margin-top: 0;
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.25;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

a,
a:visited {
  text-decoration: none;
  color: $blue;
}


a:hover,
a:focus,
a:active {
  color: $dark-gray;
}

.dark-link,
.dark-link:visited {
  text-decoration: none;
  color: $dark-gray;
}

.dark-link:hover,
.dark-link:focus,
.dark-link:active {
  color: $dark-gray;
  opacity: .7;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;

  padding-right: 1rem;
  padding-left: 1rem;

  max-width: 600px;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  padding-top: 1rem;
  padding-right: 1rem;

  text-align: right;
  height: 2.5rem;
}

.profile {
  width: 150px;
}

.nav {
  margin-top: 1rem;
}

.nav-link {
  font-weight: bold;
}

.nav-link+.nav-link {
  margin-left: 1rem;
}